<footer class="pv-footer">
  <div class="pv-footer-inner">

    <img
      src="https://cdn.shopify.com/s/files/1/0717/5687/3919/files/Peak_crest_no_background.jpg?v=1763050114"
      class="pv-footer-logo"
      alt="Peak Vitality Crest"
    >

    <div class="pv-footer-links">
      <a href="/pages/about">About</a>
      <a href="/pages/rewards">Rewards</a>
      <a href="/pages/wallet-guide">Wallet Guide</a>
      <a href="/pages/faq">FAQ</a>
      <a href="/blogs/news">Blog</a>
      <a href="/pages/partner">Partner With Us</a>
      <a href="/pages/contact">Contact</a>
    </div>

    <p class="pv-footer-copy">© {{ 'now' | date: '%Y' }} Peak Vitality. All Rights Reserved.</p>
  </div>
</footer>
